* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}


.container {
    height: 100%;
    width: 60%;
    margin: auto;
}

.container::after {
        content: "";
        display: table;
        clear: both;
}



/* _____inizio header____ */
.container-header {
    padding: 20px;
}


/* ______header superiore _____*/

header{
    padding-top: 85px;
}

.nav-top {
    background-color: #f5f8fa;
    border-bottom: 1px solid grey;
    height: 85px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-top-left {
    float: left;
}

.nav-top-right {
    float: right;
    margin: 3px 0;
}

ul.login-side li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

#select-lenguage, #contact-sales {
    font-size: 20px;
    color: #33475B;
    display: inline-block;
    padding: 10px 0;
}

#select-lenguage {
    padding-right: 20px;
    border-right: 3px solid grey;
}

#contact-sales {
    margin-left: 20px;
}

i.fa-globe-europe {
    margin-right: 5px;
}

i.fa-angle-down {
    margin-left: 3px;
}

a.a-navtop {
    text-decoration: none;
}

.login-button {
    margin: 0 15px;
    padding: 10px 25px;
    background: #fff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    cursor: pointer;
}

.get-button {
    padding: 10px 25px;
    background: #ff7a59;
    color: #fff;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    cursor: pointer;
}

.fa-search {
    color: #4fa4bf;
}

/*__________ header inferiore_________ */
.nav-bottom {
    background-color: #fff;
}

.container-header-bottom {
    padding: 15px;
    background-color: #fff;
}

.box-logo {
    width: 150px;
    height: 43px;
    float: left;
}

.box-logo img {
    width: 100%;
}

.menu-bar ul li {
    list-style-type: none;
    float: left;
}

a.a-menu-bar {
    display: inline-block;
    text-decoration: none;
    padding: 0 16px;
    font-size: 18px;
    color: #425b76;
}

.menu-bar {
    float: right;
    padding: 12px 0;
}


/*________inizio sezione after header_______*/
.after-header-bar {
    background-color: #425b76;
}

.container-after-header{
    background-color: #425b76;
    padding: 20px 40px;
}

p.after-header-paragraph{
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
}

a.a-paragraph-after-header {
    color: #fff;
}

/*________inizio sezione jumbotron_______*/
.jumbo {
    background-color: #ffe7da80;
}

.container-jumbo {
    padding: 80px 0;
}

.container-jumbo-content {
    width: 38%;
}

.jumbo-title {
    font-size: 50px;
    color: #33475B;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

.jumbo-main-paragraph {
    line-height: 1.6em;
    font-size: 20px;
    color: #33475B;
    margin-bottom: 20px;
}

.jumbo-button {
    padding: 25px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

.jumbo-last-paragraph {
    color: #33475B;
    line-height: 1.5em;
}

/*____linea brutta che separa le sezioni_____*/
.green-row {
    height: 10vh;
    background-color: #afebe4;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;
}

/*________inizio sezione marketing_______*/
.marketing {
    background-color: #f5f8fa;
}

.container-marketing {
    padding: 50px 0;
}

.box {
    float: left;
    width: calc(33.33% - 20px);
    background-color: #fff;
    margin: 0 10px;
    padding: 35px 35px;
    box-shadow: 5px 0 15px #eaf0f6;
}

.box-bottom-right, .box-top-right {
    float: right;
}

.box-top-left, .box-top-center, .box-top-right {
    margin-bottom: 10px;

}

.box-top-left {
    padding: 0 0;
    background-color: #f5f8fa;
    box-shadow: 0 0 0;
}

h2.box-slogan {
    font-size: 32px;
    color: #33475B;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

p.slogan-paragraph {
    font-size: 18px;
    color: #33475B;
    line-height: 1.5em;
}


h3.box-title {
    font-size: 25px;
    color: #33475B;
    margin-bottom: 40px;
    font-weight: lighter;
}

p.box-description {
    font-size: 16px;
    color: #33475B;
    line-height: 1.8em;
    font-weight: lighter;
    border-bottom: 1px solid grey;
    padding-bottom: 40px;
}

h5.box-popular-features {
    font-size: 14px;
    color: #33475B;
    padding: 20px 0;
}

.popular-features-list li {
    list-style: none;
    font-size: 14px;
    color: #33475B;
    padding: 8px;
}

.box-button {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: #fff;
    margin: 20px 0;
    cursor: pointer;
}

.fa-check-circle {
    font-size: 20px;
    color: #fff;
    background-color: #ff7a59;
    border-radius: 50%;
    margin-right: 5px;
}

.box-icon {
    color:#ff7a59;
    border-radius: 50%;
    margin-right: 5px;
}











/*________inizio sezione comunity_______*/
.comunity {
    height: 400px;
    background-color: grey;
}

/*________inizio sezione customers_______*/
.customers {
    height: 300px;
    background-color: lightgreen;
}

/*________inizio sezione get-start_______*/
.get-start {
    height: 400px;
    background-color: pink;
}

/*________inizio footer_______*/
footer {
    height: 600px;
    background-color: black;
}
