* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}


.container {
    height: 100%;
    width: 60%;
    margin: auto;
}

.container::after {
        content: "";
        display: table;
        clear: both;
}



/* _____inizio header____ */
.container-header {
    padding: 20px;
}


/* ______header superiore _____*/

header{
    padding-top: 85px;
}

.nav-top {
    background-color: #f5f8fa;
    border-bottom: 1px solid grey;
    height: 85px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.nav-top-left {
    float: left;
    position: relative;
}

.nav-top-right {
    float: right;
    margin: 3px 0;
}

ul.login-side li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

#select-lenguage, #contact-sales {
    font-size: 20px;
    color: #33475B;
    display: inline-block;
    padding: 10px 0;
}

#select-lenguage {
    padding-right: 20px;
    border-right: 3px solid grey;
}

#contact-sales {
    margin-left: 20px;
}

i.fa-globe-europe {
    margin-right: 5px;
}

i.fa-angle-down {
    margin-left: 3px;
}

.nav-top-left a {
    text-decoration: none;
}

/*________ inizio dropdown menu_____ */
ul.nav-drop-down-ul {
    list-style-type: none;
}

.nav-top-drop-down {
    display: none;
    background-color: #fff;
    width: 110px;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 26px;
    padding: 10px 0;
    border: 2px solid #aaa;
}

.a-dropdown:hover ~ .nav-top-drop-down, .nav-top-drop-down:hover {
    display: block;
}

ul.nav-drop-down-ul li {
    padding: 8px;
}

ul.nav-drop-down-ul li:hover {
    background-color: #e1f2fd;
    cursor: pointer;
}

a.a-nav-drop-down {
    font-size: 20px;
    color: #425b76;
}

#rhombus {
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    top: -9px;
    right: 18px;
    border-top: 2px solid #aaa;
    border-left: 2px solid #aaa;
}

/* __fine parte dropdown__ */

button.login-button {
    margin: 0 15px;
    padding: 10px 25px;
    background: #fff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    cursor: pointer;
}

button.get-button {
    padding: 10px 25px;
    background: #ff7a59;
    color: #fff;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    cursor: pointer;
}

button.login-button:hover {
    background-color: rgba(255, 122, 89, 0.5);
}

button.get-button:hover {
    background-color: rgba(255, 122, 89, 0.5);
}


.fa-search {
    color: #4fa4bf;
}

/*__________ header inferiore_________ */
.nav-bottom {
    background-color: #fff;
}

.container-header-bottom {
    padding: 15px;
    background-color: #fff;
}

.box-logo {
    width: 150px;
    height: 43px;
    float: left;
}

.box-logo img {
    width: 100%;
    cursor: pointer;
}

.menu-bar ul li {
    list-style-type: none;
    float: left;
}

a.a-menu-bar {
    display: inline-block;
    text-decoration: none;
    padding: 0 16px;
    font-size: 18px;
    color: #425b76;
}

.menu-bar {
    float: right;
    padding: 12px 0;
}


/*________inizio sezione after header_______*/
.after-header-bar {
    background-color: #425b76;
}

.container-after-header{
    background-color: #425b76;
    padding: 20px 40px;
}

p.after-header-paragraph{
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
}

a.a-paragraph-after-header {
    color: #fff;
}

/*________inizio sezione jumbotron_______*/
.jumbo {
    background-color: #ffe7da80;
}

.container-jumbo {
    padding: 80px 0;
}

.container-jumbo-content {
    width: 38%;
}

.jumbo-title {
    font-size: 50px;
    color: #33475B;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

.jumbo-main-paragraph {
    line-height: 1.6em;
    font-size: 20px;
    color: #33475B;
    margin-bottom: 20px;
}

button.jumbo-button {
    padding: 25px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

button.jumbo-button:hover{
    background-color: rgba(255, 122, 89, 0.5);
}

.jumbo-last-paragraph {
    color: #33475B;
    line-height: 1.5em;
}

/*____linea brutta che separa le sezioni_____*/
.green-row {
    height: 10vh;
    background-color: #afebe4;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;
}

/*________inizio sezione marketing_______*/
.marketing {
    background-color: #f5f8fa;
}

.container-marketing {
    padding: 50px 0;
}

.box {
    float: left;
    width: calc(33.33% - 20px);
    background-color: #fff;
    margin: 0 10px;
    padding: 35px 35px;
    box-shadow: 5px 0 15px #eaf0f6;
}

.box-bottom-right, .box-top-right {
    float: right;
}

.box-top-left, .box-top-center, .box-top-right {
    margin-bottom: 10px;

}

.box-top-left {
    padding: 0 0;
    background-color: #f5f8fa;
    box-shadow: 0 0 0;
}

.box-top-right {
    position: relative;
}

h2.box-slogan {
    font-size: 32px;
    color: #33475B;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

p.slogan-paragraph {
    font-size: 18px;
    color: #33475B;
    line-height: 1.5em;
}


h3.box-title {
    font-size: 25px;
    color: #33475B;
    margin-bottom: 40px;
    font-weight: lighter;
}

p.box-description {
    font-size: 16px;
    color: #33475B;
    line-height: 1.8em;
    font-weight: lighter;
    border-bottom: 1px solid grey;
    padding-bottom: 40px;
}

h5.box-popular-features {
    font-size: 14px;
    color: #33475B;
    padding: 20px 0;
}

.popular-features-list li {
    list-style: none;
    font-size: 14px;
    color: #33475B;
    padding: 8px;
}

button.box-button {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: #fff;
    margin: 20px 0;
    cursor: pointer;
}

button.box-button:hover {
    background-color: rgba(255, 122, 89, 0.5);
}

.fa-check-circle {
    font-size: 20px;
    color: #fff;
    background-color: #ff7a59;
    border-radius: 50%;
    margin-right: 5px;
}

.box-icon {
    color:#ff7a59;
    border-radius: 50%;
    margin-right: 5px;
}

.label-new-item {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    width: 50px;
    padding: 5px 0;
    background: #00a48d;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*________inizio sezione comunity_______*/
.comunity {
    height: 900px;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    padding: 100px 0;
}

.container-writings-comunity {
    width: 65%;
    text-align: center;
    margin: auto;
    color: #fff;
}

h2.title-comunity {
    font-size: 32px;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

p.paragraph-comunity {
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    padding-bottom: 80px;
}

.comunity-table-top::after {
    content: '';
    display: table;
    clear: both;
}

.table-item {
    float: left;
    width: 25%;
    text-align: center;
    padding: 30px 50px;
}

i.table-icon {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.item-number {
    font-size: 50px;
    color: white;
}

i.icon-plus {
    vertical-align: middle;
    font-size: 20px;
    color: white;
}

.item-description {
    color: white;
    letter-spacing: 0.03em;
}

.comunity-table-top {
    border-bottom: 1px solid #fff;
}

.table-item-border {
    border-right: 1px solid #fff;
}

/*________inizio sezione customers_______*/
.customers {
    background-color: #fff;
    padding: 90px 0;
}

.container-customers {
    padding: 20px 0;
}

.customers-left {
    float: left;
    width: 40%;
}

.customers-right {
    float: right;
    width: 60%;
    text-align: center;
}

h3.customers-number {
    font-size: 40px;
    color: #33475B;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
}

p.customers-number-paragraph {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    color: #33475B;
}

#bolt-number {
    font-size: 25px;
}

.customers-logos {
    display: inline-block;
    width: 20%;
    margin: 0 5px;
}

.customers-logos img {
    width: 100%;
    vertical-align: middle;
}


/*________inizio sezione get-start_______*/

.get-start-inbound {
    background-color: #fff;
    padding: 60px 0 90px 0;
}

.get-start-left, .get-start-right {
    float: left;
    width: 50%;
}

.get-start-left {
    padding: 30px 50px 0 0;
}

h2.get-start-title {
    font-size: 32px;
    color: #33475B;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

p.get-start-paragraph {
    font-size: 18px;
    color: #33475B;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.get-start-right:after {
    content: '';
    display: table;
    clear: both;
}

.get-start-right img {
    float: right;
    /* display: inline-block; */
    width: 350PX;
}

/*___________togliere le altezze_____________*/

/*________inizio footer_______*/
footer {
    padding-top: 100px;
    background-color: #33475B;
}

.footer-container-top::after {
    content: '';
    display: table;
    clear: both;
}

.footer-list {
    float: left;
    width: 25%;
    color: #fff;
}

span.footer-list-title {
    font-size: 20px;
}

.footer-container ul li {
    list-style-type: none;
}

a.a-footer-list {
    text-decoration: none;
    line-height: 3.5em;
    color: #cbd6e2;
    font-size: 15px;
}

button.footer-button {
    width: 70%;
    padding: 14px 5PX;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #33475B;
    margin: 30px 0;
    cursor: pointer;
}

button.footer-button:hover {
    background-color: rgba(203, 214, 226, 0.5);
}

ul.footer-icon-list li {
    display: inline-block;
}

a.footer-icon {
    font-size: 25px;
    margin-left: 15px;
    color: #cbd6e2;
}

.footer-container a:hover {
    color: #7fd1de;
}

a.a-footer-lenguages {
    text-decoration: none;
    color: #cbd6e2;
    font-size: 20px;
}

.footer-lenguages-list ul{
    text-align: center;
}

.footer-lenguages-list ul li {
    padding: 0 30px;
    display: inline-block;
}

.footer-container-center {
    padding: 80px 0 50px 0;
    border-bottom: 1px solid #cbd6e2;
}

.footer-container-bottom {
    padding: 50px 0;
}

.footer-container-bottom::after {
    content: '';
    display: table;
    clear: both;
}

#copyright {
    display: block;
    font-size: 12px;
    padding-top: 10px;
    color: #cbd6e2;
}

.logo-copyright {
    float: left;
}

.privacy-policy {
    float: right;
    font-size: 20px;
    padding-top: 10px;
    color: #cbd6e2;
}

#legal-stuff {
    margin-right: 20px;
}

/* ______inizio chat fixed_________ */
#fixed-chat-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 40px;
    border-radius: 50%;
    padding: 10px 12px;
    color: #fff;
    background-color: #526e8a;
    cursor: pointer;
}

#fixed-chat-text-area {
    position: fixed;
    bottom: 130px;
    right: 40px;
    width: 250px;
    padding: 50px 25px 25px 25px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 11px 6px rgba(107,107,107,1);
}

p.fixed-chat-paragraph {
    line-height: 1.5;
    color: #33475B;
}

/* icona inserita con unicode senza html */
p.fixed-chat-paragraph:before {
    content: "\f259";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: orange;
}

i.fa-robot {
    position: absolute;
    bottom: 80%;
    right: 95px;
    font-size: 40px;
    border-radius: 50%;
    padding: 10px;
    color: #c5b203;
    background-color: #46788a;
}

i.fa-times {
    position: absolute;
    font-size: 20px;
    top: 15px;
    right: 15px;
    color: #aaa;
    cursor: pointer;
}



































/* togliere questa scritta */
